<div>
  <section>
    <% if @user.last_posts.blank? %>
      <h2>There are no posts. Please add a post.</h2>
      <%else%>
      <div class='final-post'>
       <h3>Post <%= @post.title%> by <%= @post.author.name%></h3>
       <p class='counter'>Comments: <%= @post.comments_counter%>, Likes: <%= @post.likes_counter%></p>
       <p><%= @post.text%></p>

         <section class='buttons'>
          <button class='create-comment-btn'>
            <%= link_to 'Add Comment', new_user_post_comment_path(@user, @post)%>
          </button>
          <button>
            <%= form_with model: Like, url: user_post_likes_path(@post.author, @post) do |form| %>
              <%= form.submit 'Like Post', class: 'like-btn' %>
            <% end %>
          </button>
      </section>

       <% @post.comments.each do |comment|%>
       <div class='comments'>
        <p><%= comment.author.name%>
        <p><%= comment.text%>
       </div>
       <% end %>
      <div>
      <% end %>

    <%if can? :destroy, @post%>
     <%= link_to 'Remove', user_post_path(@post.user, @post), method: :delete, data: { turbo_method: :delete }%>
    <%end%> 
  </section>
</div>